body,
html {
    margin: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    color: #333;
}

h1 {
    font-size: 80px;
}

body {
    background-color: lightgrey;
    text-align: center;
}

main {
    padding-top: 0px;
}

.squares {
    width: auto;
    height: auto;
    background-color: white;
    color: white;
}

.game {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* padding: 10px; */
}

.outer {
    display: flex;
    justify-content: space-evenly;
    padding: 0px 100px;
    /* gap: 200px; */
    /* max-width: 60vw; */
}

/* .controls {}

.empty {} */